@model IEnumerable<PetFragrant_Test.Models.Product>
@{
    ViewData["Title"] = "購物車";
}



<form action="post">
    <!-- 上層商品 -->
    <div class="row bg-white mt-2 mb-2">
        <h2 class="fw-bold m-4"><center>購物車</center></h2>


        @if (Model.Count() == 0)
        {
            <h1 class="text-center">您的購物車是空的喔!</h1>
        }
        else
        {
            <div class="col-12">
                <input type="checkbox" id="select-all">
                <!-- <hr> -->
            </div>
            foreach(var item in Model)
            {
                <!-- product -->
                <div class="col-12 d-flex flex-wrap align-items-center mt-1 mb-1">
                    <hr class="col-12">
                    <!-- 勾選 -->
                    <div class="col-1">
                        <input type="checkbox" name="check">
                    </div>
                    <!-- 商品圖 -->
                    <div class="pic col-2">
                        <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@item.ProdcutId">
                            <img src="~/images/@(item.ProdcutId)/1.png" class="w-50">
                        </a>
                    </div>
                    <!-- 商品標題 -->
                    <div class="pro-title col-4">
                        <h4>@item.ProductName</h4>
                        <div class="d-flex  align-content-center ">
                            <p class="text-secondary m-2">規格</p>
                            
                            <select>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>

                    </div>
                    <!-- 顯示目前價錢 -->
                    <div class="price col-2">
                        <p>NT @Math.Round(item.Price)</p>
                    </div>
                    <!-- 選擇數量 -->
                    <div class="number col-2">
                        <p style="color: #6f5f5f;">數量:</p>
                        <div class="d-flex mb-2">
                            <span><input type="button" class="sub" value="-" /></span>
                            <input type="text" value="1" style="width: 40px;" name="quantity" class="quantity">
                            <span><input type="button" class="add" value="+" /></span>
                        </div>
                    </div>

                    <button type="button" class="col-1 btn btn-danger delete" id="@item.ProdcutId" >
                        移除
                    </button>

                </div>
            }

        }



    </div>

    <!-- 配送方式 -->
    <div class="row bg-white mt-4 p-4">
        <h3>配送方式</h3>
        <div class="d-flex">
            <div class="form-check me-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    宅配到府
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault1">
                    超商取貨
                </label>
            </div>
        </div>
        <div class="address d-flex align-item-center mt-3">
            <h6>地址</h6>
            <p class="ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis odio eveniet nam placeat illum harum </p>
            <a href="#" class="ms-2" data-bs-toggle="modal" data-bs-target="#addressModal">選擇常用地址</a>
        </div>
    </div>

    <!-- 折價券 -->
    <div class="row mt-4">
        <div class="discount">
            <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#couponModal">
                折價券
            </button>

        </div>
    </div>

    <!-- 小記 -->
    <div class="row mt-4 bg-white p-4">
        <div class="note col-8">
            <div class="coupon-result d-flex">
                <h3 class="me-4">折價券</h3>
                <h4>0</h4>
            </div>
            <div class="freight d-flex">
                <h3 class="me-4">運費</h3>
                <h4>0</h4>
            </div>
            <div class="shopping d-flex">
                <h3 class="me-4">商品小記</h3>
                <h4>1,000</h4>
            </div>
        </div>
        <div class="shopping-total col-4 d-flex align-items-end">
            <h2>總價</h2>
            <h3>$12,345</h3>

            <button type="submit" class="btn btn-danger btn-lg ms-4">
                結帳
            </button>
        </div>
    </div>

    <!-- Coupon Modal -->
    <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title d-flex align-content-center" id="coupon">折價券</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="coupon d-flex">
                        <input type="radio">
                        <div class="coupon-style w-100  ms-2" style="background-color: #efde8b;">
                            <p class="d-flex align-items-center">滿200免運</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-danger">儲存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Address Modal -->
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title d-flex align-content-center" id="address">選擇常用地址</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="title d-flex row">
                        <h6 class="col-2">選擇</h6>
                        <h6 class="col-2">姓名</h6>
                        <h6 class="col-3">地址</h6>
                        <h6 class="col-3">電話</h6>
                        <h6 class="col-2">刪除</h6>
                    </div>
                    <div class="address d-flex row">
                        <hr>
                        <div class="radio col-2">
                            <input type="radio">
                        </div>
                        <p class="col-2">Leo</p>
                        <p class="col-3">高雄市....</p>
                        <p class="col-3">096666666</p>
                        <button class="btn btn-danger col-2" type="button">
                            刪除
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#">新增地址</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-danger">儲存</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        

        var number = document.querySelectorAll(".number");
        console.log(number);

        number.forEach(element => {
            var quan;
            element.querySelector(".add").addEventListener('click', function () {
                quan = element.querySelector(".quantity");
                var temp = parseInt(quan.value) + 1;
                quan.value = temp;
            });

            element.querySelector(".sub").addEventListener('click', function () {
                quan = element.querySelector(".quantity");
                var temp = parseInt(quan.value) - 1;
                if (temp < 0) {
                    quan.value = 0;
                }
                else quan.value = temp;
            });



        });

        // 全選商品
        let selectAll = document.getElementById("select-all");

        selectAll.addEventListener("click", function () {
            var check = document.querySelectorAll("input[name='check']");

            if (this.checked == true) {
                check.forEach(element => {
                    element.checked = true;
                });
            }
            else {
                check.forEach(element => {
                    element.checked = false;
                });
            }

        });

        //delete

        $(document).ready(function () {
            $('.delete').click(function () {
                var id = $(this).attr('id');
                $.ajax({
                    url: '@Url.Action("RemoveProduct", "User")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                      
                        // 在成功回調函式中處理伺服器的回應
                        Swal.fire({
                            title: '刪除成功!',
                            showConfirmButton: false,
                            timer: 1000,
                            onOpen: function () {
                                Swal.showLoading();
                            }
                        });

                        setTimeout(function () {
                            Swal.close();
                            location.reload();
                        }, 1000);

                    },
                    error: function (xhr, status, error) {
                        // 在錯誤回調函數中處理錯誤情況
                        alert('刪除失敗');
                    }
                });
            });
        });
    </script>
}