@model IEnumerable<PetFragrant_Test.Models.Product>
@{
    ViewData["Title"] = "首頁";
}


    <!-- nav -->
    <div class="row d-flex justify-content-center align-items-center mb-4">

    <!-- 搜尋欄 -->
    <div class="col-12 col-md-6">
        <form class=" mb-1" action="~/Search" method="get">
            <div class="input-group ">
                <input type="text" class="form-control commontxt position-relative" placeholder="尋找毛孩商品" aria-label="尋找毛孩商品"
                       aria-describedby="basic-addon2" name="keyword" id="searchInput">
                <button class=" searchbtn" type="submit">搜尋</button>
                <div id="searchResults" class="w-75 position-absolute z-3 top-100 start-0 "></div>
            </div>
            
        </form>
        <div class="d-flex flex-wrap commontxt">
            @foreach(var keyword in ViewBag.keyword)
            {
                <a  asp-controller="Search" asp-action="Index" asp-route-keyword="@keyword.Name"  class="me-2 ">@keyword.Name</a>
            }
       
            </div>
        </div>

    </div>



<partial name="_categoriesPartial" />

<div class="container mb-3 ">

    @*幻燈片*@
    
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button style="width: 15px;height: 15px; border-radius: 50%;" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button style="width: 15px;height: 15px;border-radius: 50%;" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button style="width: 15px;height: 15px;border-radius: 50%;" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button style="width: 15px;height: 15px;border-radius: 50%;" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://resource02.ulifestyle.com.hk/ulcms/content/article/image/w600/ut/20190829133417__07.3.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://www.niusnews.com/upload/imgs/default/2019AugJenny/28Kakao/6.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://media.karousell.com/media/photos/products/2021/9/6/893_kakao_friends__ryan__apeac_1630949520_4c4a7262_progressive"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://www.niusnews.com/upload/imgs/default/2019AugJenny/28Kakao/6.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    @*推薦商品*@
    @if(ViewBag.dog != null)
    {
        <div class="row mt-3 bg-white p-2 ">
            <h1 class="commontxt"><center>狗狗商品</center></h1>
            @foreach (var item in ViewBag.dog)
            {
                <div class="col-12 col-md-3" >
                    <div class="card " >
                        <a  asp-controller="Products" asp-action="ProductDetail" asp-route-id="@item.ProdcutId" class="pic">
                            <img src="~/images/@item.ProdcutId/1.png"
                                 class="card-img-top " alt="...">
                        </a>
                        <div class="card-body ">
                            <h6 class="card-title tcenter ">@item.ProductName</h6>
                            <p class="card-text">
                                <del>
                                    NT @Math.Round(item.Price)
                                </del>
                            </p>
                            <div class=" d-flex justify-content-between ">
                                <p class="text-danger">NT @Math.Round(item.Price*(decimal)0.9)</p>
                            </div>
                        </div>
                        @if (item.Inventory == 0)
                        {
                            <div class="soldout ">Soldout</div> 
                        }
                        
                    </div>
                </div>
            }
        </div>
    }
    @if (ViewBag.cat != null)
    {
        <div class="row mt-3 bg-white p-2 ">
            <h1 class="commontxt"><center>貓貓商品</center></h1>
            @foreach (var item in ViewBag.cat)
            {
                <div class="col-12 col-md-3">
                    <div class="card ">
                        <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@item.ProdcutId" class="pic">
                            <img src="~/images/@item.ProdcutId/1.png"
                                 class="card-img-top " alt="...">
                        </a>
                        <div class="card-body ">
                            <h6 class="card-title tcenter ">@item.ProductName</h6>
                            <p class="card-text">
                                <del>
                                    NT @Math.Round(item.Price)
                                </del>
                            </p>
                            <div class=" d-flex justify-content-between ">
                                <p class="text-danger">NT @Math.Round(item.Price*(decimal)0.9)</p>
                            </div>
                        </div>
                        @if (item.Inventory == 0)
                        {
                            <div class="soldout ">Soldout</div>
                        }

                    </div>
                </div>
            }
        </div>
    }

    @*推薦*@
    <div class="row  bg-white p-2 mt-3 rounded-2 shadow-sm">
        <h1  class="fw-bold commontxt"><center>香檳毛孩產品心得分享</center></h1>

        <div class="share d-flex align-items-center mt-2 flex-wrap">
            <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center">
                <div class="img-container">
                    <img src="~/images/home (6).jpg" alt="..." class="rounded-circle ">
                </div>
            </div>
            <div class="col-12 col-md-6 ">
                <div class="card-body">
                    <h3 class="card-title text-center commontxt">Molly</h3>
                    <table class="table">
                        <tr>
                            <td>年齡:&ensp;6歲</td>
                            <td>性別:&ensp;女</td>
                        </tr>
                        <tr>
                            <td>品種:&ensp;臘腸</td>
                            <td>使用商品:&ensp;潔牙骨</td>
                        </tr>
                    </table>
                    <p class="card-text">
                        潔牙骨對我家狗狗真的太好了！每次給牠，牠都興奮地啃咬，而且牙齒看起來更健康了。口臭也明顯減少，這讓我們很滿意。而且潔牙骨還能幫助牠減輕無聊情緒，讓牠在家裡快樂度過時間。非常推薦這個產品，對狗狗的口腔健康真的很有幫助！
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="share d-flex align-items-center mt-2 flex-wrap">
            <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center">
                <div class="img-container">
                    <img src="https://i.pinimg.com/originals/59/54/b4/5954b408c66525ad932faa693a647e3f.jpg" alt="..." class="rounded-circle ">
                </div>
            </div>
            <div class="col-12 col-md-6 ">
                <div class="card-body">
                    <h3 class="card-title text-center commontxt">尷尬卻不失禮貌貓貓</h3>
                    <table class="table">
                        <tr>
                            <td>年齡:&ensp;3歲</td>
                            <td>性別:&ensp;男</td>
                        </tr>
                        <tr>
                            <td>品種:&ensp;三花</td>
                            <td>使用商品:&ensp;肉泥</td>
                        </tr>
                    </table>
                    <p class="card-text">
                        貓咪對肉泥的愛不要不要的！每次打開罐頭，牠立刻蹦蹦跳跳來吃，吃得津津有味。肉泥不僅口感讓牠愛不釋口，也提供了豐富的營養，有助於維持貓咪的健康。特別適合老年貓咪或食慾不振的貓咪，給予額外的營養支援。我看著貓咪享受每一口，心裡也放心牠能得到全面的照顧。肉泥真是貓咪最愛的美食，強烈推薦給其他貓奴們！
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
     
                <div class="share d-flex align-items-center mt-2 flex-wrap">
            <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center">
                <div class="img-container">
                    <img src="~/images/Leo.jpg" alt="..." class="rounded-circle ">
                </div>
            </div>
            <div class="col-12 col-md-6 ">
                <div class="card-body">
                    <h3 class="card-title text-center commontxt">Leo</h3>
                    <table class="table">
                        <tr>
                            <td>年齡:&ensp;2歲</td>
                            <td>性別:&ensp;男</td>
                        </tr>
                        <tr>
                            <td>品種:&ensp;米克斯</td>
                            <td>使用商品:&ensp;罐頭</td>
                        </tr>
                    </table>
                    <p class="card-text">
                        我家的Leo非常喜歡罐頭食物！每次打開罐頭，牠就會興奮地跳來跳去，等不及要吃。罐頭食物的香氣對牠來說非常誘人，吃起來也非常開心滿足。這種食物提供了豐富的營養，讓牠保持健康和活力。對於忙碌的主人來說，罐頭食物也很方便，不需要特別煮飯，直接開罐就可以餵食，節省了不少時間。總的來說，罐頭食物是我家狗狗最喜愛的餐點之一，也是我們家庭的首選之一！
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
                <div class="share d-flex align-items-center mt-2 flex-wrap">
            <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center">
                <div class="img-container">
                    <img src="https://us-tuna-sounds-images.voicemod.net/f9df020f-1bc9-42dd-9173-1c886446f731-1683971652377.png" alt="..." class="rounded-circle ">
                </div>
            </div>
            <div class="col-12 col-md-6 ">
                <div class="card-body">
                    <h3 class="card-title text-center commontxt">香蕉貓貓</h3>
                    <table class="table">
                        <tr>
                            <td>年齡:&ensp;2個月</td>
                            <td>性別:&ensp;男</td>
                        </tr>
                        <tr>
                            <td>品種:&ensp;三花</td>
                            <td>使用商品:&ensp;罐頭</td>
                        </tr>
                    </table>
                    <p class="card-text">

                        幼貓使用罐頭食物非常適合！我的幼貓每次看到罐頭，都會興奮地搖動尾巴，迫不及待地開始進食。罐頭食物提供了幼貓所需的全面營養，尤其是蛋白質、維生素和礦物質，有助於健康成長和免疫力提升。幼貓對於罐頭食物的喜愛程度讓我很放心，因為我知道它正在得到足夠的營養來支持健康的成長。罐頭食物也更容易消化，這對於幼貓的小胃口來說是一大優勢。總的來說，罐頭食物是幼貓的美味佳餚，也是它們健康成長的重要保障！
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        
    </div>

 

    @*推薦*@
    <partial name="_recommendPartial" />

    
</div>



@section topCSS{
    <link rel="stylesheet" href="~/css/home.css" />
}
              
@section endJS{
    <script>
        $(document).ready(function () {
            $('#searchInput').on('keyup', function () {
                var input = $(this).val();
                var resultsList = $('#searchResults');

                // 清空結果列表
                resultsList.empty();

                // 進行 AJAX 請求，獲取相符的結果
                if (input.length > 0) {
                    $.ajax({
                        url: '@Url.Action("SearchKeyword", "Home")',
                        method: 'GET',
                        data: { keyword: input },
                        dataType: 'json',
                        success: function (results) {
                            // 將結果顯示在列表中
                            resultsList.empty();
                            if (results.length > 0) {
                                resultsList.addClass('list-group');
                                results.forEach(function (result) {
                                    var li = $('<a>').addClass('list-group-item  list-group-item-action').text(result).attr('href', '/Search?keyword='+result);

                                    resultsList.append(li);
                                });
                            }
                        }
                    });
                }
            });
        });

    </script>
}                      